html {
    position: relative;
    min-height: 100%;
}

.container-fluid {
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.card-header {
    background-color: rgb(240, 94, 240);
    color: #fff;
}


